<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8">
    <title>{{title}}</title>
    <link rel="stylesheet" href='../public/site.css'>
  </head>
<header><nav><a href="/">Make another search</a></nav></header>
  <body>
  <main>
    {{{body}}}
  </main>
  </body>
</html>