<div class="content">
    <h1 class="pageName">Show Finder</h1>
    <p id="description">This web application will be used to search for a show from our API. We will be able to search for a
        show by keyword and return a list shows with the keyword in the title of the show. When we enter our show list
        page, we will be able to click on our result and it will take us to another page with more show information</p>
    <form action="/search" method="POST" class='search-form'>
        <div class="form">
            <label for="name">Please enter a search term:</label>
            <input type="text" id="name" name="searchTerm" placeholder="Enter Search Term" />
            <button type="submit">Submit</button>
        </div>
    </form>
</div>